<h1>Editing Post</h1>

<%= render 'form', post: @post %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>


<form action="<%= post_url(@post) %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="post[url]" value="hsdask">
    <input type="hidden" name="_method" value="PATCH">
    <label for="name">Name: </label>
    <input type="text" name="post[title]" id="name">
    <label for="description">Description</label>
    <textarea name="post[content]" id="description" cols="30" rows="10"></textarea>
    <input type="submit" value="Submit">
</form>